<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>Birthday Party!</h1>
    <p>Our good ol' friend @Model.Name1 is turning @Model.Number1! We all know @Model.Name1 from being in the same @Model.Activity1 club. Let's plan this surprise @Model.Event1 for them together.</p>

    <p>@Model.Name2 (@Model.Name1's @Model.Relation1) told us their favorite @Model.FavoriteType is @Model.FavoriteThing. Because of this, we should theme the @Model.Event1 around @Model.FavoriteThing.</p>
  </body>
</html>