<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>Animals at the zoo!</h1>
    <p>Howdy, kids! Welcome to your tour of the nation's greatest zoo! If you look to your left, you'll see a @Model.Noun1 enjoying a morning dip in the pond. In the wild, this animal likes to @Model.Verb1 it's way across the vast expanse of the West African Sahara. The @Model.Noun1 eats a varied diet of @Model.Food1 and @Model.Food2, though it only eats at @Model.TimeOfDay1.</p>

    <p>If you look to your right, you'll see a family of @Model.Noun2. These animals are an endangered species native to @Model.Country1, but due to efforts of the @Model.Acronym1, their population is slowly and steadily growing.</p>
  </body>
</html>